alias grep='grep -v grep | grep --color=auto'
alias brake='bundle exec rake'
alias brails='bundle exec rails'
alias be='bundle exec'
alias updatedb='sudo /usr/libexec/locate.updatedb'
alias vim='nvim -u ~/Projects/dotfiles/.vimrc'
alias tmux='\tmux -f ~/Projects/dotfiles/.tmux.conf'
