alias grep='grep -v grep | grep --color=auto'
alias brake='bundle exec rake'
alias brails='bundle exec rails'
alias be='bundle exec'
alias updatedb='sudo /usr/libexec/locate.updatedb'
alias sd='cd /Volumes/Manheim/repos/seller_dashboard'
alias sda='cd /Volumes/Manheim/repos/seller_dashboard_api'
alias shis='cd /Volumes/Manheim/repos/sale_historian'
